[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sounddevice = "*"
tqdm = "*"
soundfile = "*"
pygame = "*"
python-vlc = "*"
pyfftw = "*"

[dev-packages]

[requires]
python_version = "3.6"
